.color-change{
    color: #212121;;
}
.color-change:hover{
    color: #2196F3;
}
.color-logo{
    color: black;
}
.color-logo-down{
    color: #FFFFFF;
}
body{
    font-family: Roboto;
    line-height: normal;
    letter-spacing: normal;
    font-size: 14px;
}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    
    color: #2196F3;}
    .nav-bar{font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        
        color: #212121;}
    
    .upper-mail{
        
        color: #757575;}
    .upper-tel{
        color: #757575;
        }
        .first-bg{
            
            background: #2F303A;
                    }
    .main-words{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        /* or 136% */
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;}
        .first-btn{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            /* identical to box height, or 188% */
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            cursor: pointer;
            border: none;
            
            color: #FFFFFF;
            background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            }
    
        .section-headers{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
            color: #212121;}
    .details{font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        
        color: #757575;
        }
        .headers{font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
            
            color: #212121;}
        .second-bg{background: #F5F4FA;}
        footer{background: #2F303A;}
        .down-adress{font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */
            letter-spacing: 0.03em;
            
            color: #FFFFFF;}
.down-mail{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    }
    .down-tel{font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.btn-colors-portfolio{
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    border: none;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

letter-spacing: 0.03em;

color: #212121;


background: #F5F4FA;
border-radius: 4px;
}
.btn-colors-portfolio:hover{
    color: #FFFFFF;
    background-color: #2196F3;
}
.portfolio-img-header{font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    
    color: #212121;}
    .portfolio-img-prop{font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
        letter-spacing: 0.03em;
        
        color: #757575;
        }
        .hide{
            display: none;
        }
        .studio-img-header{font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
           
            letter-spacing: 0.03em;
            
            color: #212121;}
            .studio-img-prop{font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                /* identical to box height */
                
                letter-spacing: 0.03em;
                
                color: #757575;}